{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
    <h1 class="bg-primary text-center text-light">Seu Carrinho de Compras</h1>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Remover</th>
                <th>Preço unitário</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% for item in carrinho %}
            {% with produto=item.produto %}
            <tr>
                <td>
                    <a href="{% url 'detalheprod' produto.id produto.slug %}">
                        <img src="{% if produto.imagem %} {{ produto.imagem.url }}
                                  {% else %} {% static 'assets/noitem.jfif' %}
                                  {% endif %}" alt="imagem do produto {{ produto.nome }}"
                             width="90" height="100">
                    </a>
                </td>
                <td>{{ produto.nome }}</td>
                <td>
                    <!-- Aqui mostro o formulário para que o usuário possa alterar a quantidade -->
                    <form action="{% url 'carrinhoadd' produto.id %}" method="post">
                        {% csrf_token %}
                        {{ item.atualizarquantform.quantidade }}
                        {{ item.atualizarquantform.atualizar }}
                        <input class="btn btn-primary" type="submit" value="Atualizar">
                    </form>
                </td>
                <td>
                    <form action="{% url 'carrinhoremove' produto.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-light mt-auto" value="Remover">
                    </form>
                </td>
                <td>R${{ item.preco }}</td>
                <td>R${{ item.preco_total }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr>
            <td>Total</td>
            <td colspan="4"></td>
            <td>R${{ carrinho.get_preco_total }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'listarprod' %}" class="btn btn-light">Continuar comprando...</a>
        <a href="{% url 'addpedido' %}" class="btn btn-primary">Finalizar pedido</a>
    </p>
{% endblock %}